<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BODEGA INTERNACIONAL CONPAXINCOLUR</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/milligram@1.4.1/dist/milligram.min.css"
  />
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <header>
    <h1>BODEGA INTERNACIONAL CONPAXINCOLUR</h1>
    <nav>
      <a href="/" aria-label="Ingresar Nueva Guía">Ingresar Nueva Guía</a>
    </nav>
  </header>
  <main>
    <hr />
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 Bodega Iternacional ConpaxIncolur</p>
  </footer>
</body>
</html>
