<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bodega Internacional CONPAX INCOLUR</title>
</head>
<body>
    <h1>Bodega Internacional CONPAX INCOLUR</h1>
    <p>Bienvenido, selecciona una opción del menú:</p>

    <!-- Menú principal -->
    <ul>
        <li><a href="/click_ingreso_guia">Ingresar Guías</a></li>
        <li><a href="/export-excel/">Exportar Guías a Excel</a></li>
    </ul>
</body>
</html>